$width: 400px;
$switch-height: 50px;

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $width;

  #video-switch {
  height: 50px;
  }

  #video-chat-container {
    height: calc(100% - $switch-height);
    position: relative;

    .video-container {
      height: 100%;
      width: 100%;
    }
  }
}

#whisthub-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc( 100vw - $width );
  background-color: aliceblue;
}

